@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
	--very-dark-blue: hsl(216, 12%, 8%);
	--dark-blue: hsl(213, 19%, 18%);
	--medium-grey: hsl(216, 12%, 54%);
	--light-grey: hsl(217, 12%, 63%);
	--white: hsl(0, 0%, 100%);
	--orange: hsl(25, 97%, 53%);
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-size: 15px;
	color: var(--white);
	background: var(--very-dark-blue);
	font-family: 'Overpass', sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rating-component{
	width: 415px;
	height: 415px;
	background-color: var(--dark-blue);
	border-radius: 20px;
	padding: 30px;
}

.rating-component__star-icon{
	width: 48px;
	height: 48px;
	background: rgba(0,0,0,10%);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100rem;
}

.rating-component__title{
	font-size: 1.85rem;
	margin-top: 30px;
}

.rating-component__paragraph{
	color: var(--light-grey);
	margin-top: 15px;
	line-height: 1.5rem;
}

.ratings{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.ratings__rating{
	display: flex;
	color: var(--light-grey);
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,10%);
	height: 52px;
	width: 52px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 100rem;
}

.ratings__rating:hover{
	background: var(--orange);
	color: var(--white);
}

.ratings__rating__selected{
	background: var(--medium-grey);
	color: var(--white);
}

.rating-component__button{
	margin-top: 30px;
	width: 355px;
	padding: 20px 140px;
	color: var(--orange);
	border-radius: 100px;
	font-weight: bold;
	background: var(--white);
	letter-spacing: 0.15rem;
	border: none;
}
